<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>incrementOfResults</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>matchingLimit</param-name>
        <param-value>10</param-value>
    </context-param>
     <context-param>
        <param-name>rankNewLimit</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet>
        <servlet-name>TestDbServlet</servlet-name>
        <servlet-class>TestDbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterToWebServlet</servlet-name>
        <servlet-class>servlet.general.RegisterToWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.general.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.general.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByUsernameServlet</servlet-name>
        <servlet-class>servlet.managefriend.SearchByUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyRequestServlet</servlet-name>
        <servlet-class>servlet.managefriend.DenyRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWaitingListServlet</servlet-name>
        <servlet-class>servlet.managefriend.ViewWaitingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFriendListServlet</servlet-name>
        <servlet-class>servlet.managefriend.ViewFriendListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <servlet-class>servlet.managefriend.DeleteFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPersonalInfoServlet</servlet-name>
        <servlet-class>servlet.manageinfo.ViewPersonalInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMatchServlet</servlet-name>
        <servlet-class>servlet.managefriend.SearchMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePersonalInfoServlet</servlet-name>
        <servlet-class>servlet.manageinfo.ChangePersonalInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>servlet.general.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByUsernameServlet</servlet-name>
        <url-pattern>/SearchByUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDbServlet</servlet-name>
        <url-pattern>/TestDbServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/register_to_web.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>servlet.managefriend.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestListServlet</servlet-name>
        <servlet-class>servlet.managefriend.ViewRequestListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <servlet-class>servlet.managefriend.AcceptRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterToWebServlet</servlet-name>
        <url-pattern>/RegisterToWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestListServlet</servlet-name>
        <url-pattern>/ViewRequestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyRequestServlet</servlet-name>
        <url-pattern>/DenyRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWaitingListServlet</servlet-name>
        <url-pattern>/ViewWaitingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFriendListServlet</servlet-name>
        <url-pattern>/ViewFriendList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <url-pattern>/DeleteFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPersonalInfoServlet</servlet-name>
        <url-pattern>/ViewPersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMatchServlet</servlet-name>
        <url-pattern>/SearchMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePersonalInfoServlet</servlet-name>
        <url-pattern>/ChangePersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
